.difficulty{
  color: rgb(112, 112, 112);
  font-size:1.4rem;
  margin-left: auto;
}

// .recipeTitle{

// }

.img-container{
  background-color: rgba(255, 255, 255, 0.5);
  img{
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
  }
  
}
