<ion-header>
    <ion-navbar>
    <ion-title>
        Device status : {{ device.name }}
    </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding scroll="false" style="overflow: hidden;">
    <div class="statusGrid">
        <!--[class.hide]="!displayStatus('water')"
            [ngClass]="{sideBlock: statusToggled == -1, selectedDetail: statusToggled == 'water'}"-->
        <div class="statusBlock sideBlock" id="water" 
            [@statusTransition]="isToggled('water')"
            >
            

            <div class="iconContainer"  >
                <img src="/water-progress.png" alt="" (click)="toggleStatusDetail('water')">
            </div>
            <div class="statusDetail" [@toggleDetail]=" isToggled('water') == 1">
                <span class="closeDetail" (click)="statusToggled = -1">
                    &times;
                </span>           
                Water Status: Good <br>
                Level: 67% <br>
                PH: 6.8 <br>
                Next refill: 30 hours

            </div>
                
        </div>
        <!-- [class.hide]="!displayStatus('light')"-->
        <!--[ngClass]="{centerBlock: statusToggled == -1, selectedDetail: statusToggled == 'light'}"-->
        <div class="statusBlock centerBlock" id="light" 
                       
            [@statusTransition]=" isToggled('light')"
        >
            <div class="iconContainer">
                <img src="/light_temp.png" alt="" (click)="toggleStatusDetail('light')">
    
            </div>
            <div class="statusDetail"  [@toggleDetail]=" isToggled('light') == 1"    >
                <span class="closeDetail" (click)="statusToggled = -1">&times;</span>   
                Light : On <br>
                Temperature: 21 &#8451; / 70 &#8457; <br>

            </div>
        </div>
        <!--[class.hide]="!displayStatus('nutrient')"
            [ngClass]="{sideBlock: statusToggled == -1, selectedDetail: statusToggled == 'nutrient'}"-->
        <div class="statusBlock sideBlock" id="nutrient"  
            
             [@statusTransition]=" isToggled('nutrient')"
        >
            <div class="iconContainer">
                <img src="/nutrient.png" alt="" (click)="toggleStatusDetail('nutrient')">
    
            </div>    
            <div class="statusDetail" style="text-align: center"[@toggleDetail]="isToggled('nutrient') == 1">
                <span class="closeDetail" (click)="statusToggled = -1">&times;</span>   
                Add more nutrients in.. <br>
                <span style="font-size: 2.3rem">9 Days</span> 
            </div>
        </div>    
    </div>

    <!--<ion-grid>
    <ion-row>
        <ion-col
        [attr.width-33]="displayAll? true : null"
        [attr.width-75]="statusToggled == 1 ? true : null"
        (click)="toggleStatusDetail(1)"
        >
        <div class="center">
            <div class="c100 p67 small">
            <span>67%</span>
            <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
            </div>
            </div>
            <ion-icon ios="ios-water" md="md-water" class="water-blue"></ion-icon> : OK
            <div *ngIf="statusToggled == 1 ">More detail</div>
        </div>

        </ion-col>

        <ion-col
        [attr.width-33]="displayAll? true : null"
        [attr.width-75]="statusToggled == 2 ? true : null"
        (click)="toggleStatusDetail(2)"
        >
        <div class="center">
            <ion-icon ios="ios-sunny" md="md-sunny"></ion-icon> Light: ON <br> 20 &#8451; 68 &#8457;
        </div>

        </ion-col>
 
        <ion-col

        [attr.width-33]="displayAll? true : null"
        [attr.width-75]="statusToggled == 3 ? true : null"
        (click)="toggleStatusDetail(3)"
        >
        <div class="center">
            Nutrient
        </div>

        </ion-col>
    </ion-row>
    </ion-grid>-->
    <!--div>{{eventTriggered}}</div-->
    <plant-slots></plant-slots>
</ion-content>