<div class="device-inner">
    <div class="plant-slots">
        <div class="r1">
            <button ion-button small round class="btn-plant-slot" (click)="openPlantDetailPage(plantSlots[0])" >
            {{plantSlots[0].id}}
            </button>
        </div>
        <div class="r3">
            <button ion-button small round class="btn-plant-slot" (click)="openPlantDetailPage(plantSlots[1])" >
            {{plantSlots[1].id}}
            </button>
            <button ion-button small round class="btn-plant-slot" (click)="openPlantDetailPage(plantSlots[2])" >
            {{plantSlots[2].id}}
            </button>
            <button ion-button small round class="btn-plant-slot" (click)="openPlantDetailPage(plantSlots[3])" >
            {{plantSlots[3].id}}
            </button>
        </div>
        <div class="r4">
            
            <button ion-button small round class="btn-plant-slot" (click)="openPlantDetailPage(plantSlots[4])" >
            {{plantSlots[4].id}}
            </button>
            <button ion-button small round class="btn-plant-slot" (click)="openPlantDetailPage(plantSlots[5])" >
            {{plantSlots[5].id}}
            </button>
            <button ion-button small round class="btn-plant-slot" (click)="openPlantDetailPage(plantSlots[6])" >
            {{plantSlots[6].id}}
            </button>
            <button ion-button small round class="btn-plant-slot" (click)="openPlantDetailPage(plantSlots[7])" >
            {{plantSlots[7].id}}
            </button>
        </div>
        <div class="r5">
            <button ion-button small round class="btn-plant-slot" (click)="openPlantDetailPage(plantSlots[8])" >
            {{plantSlots[8].id}}
            </button>
            <button ion-button small round class="btn-plant-slot" (click)="openPlantDetailPage(plantSlots[9])" >
            {{plantSlots[9].id}}
            </button>
            <button ion-button small round class="btn-plant-slot btn-ghost" disabled>
            </button>
            <button ion-button small round class="btn-plant-slot" (click)="openPlantDetailPage(plantSlots[10])" >
            {{plantSlots[10].id}}
            </button>
            <button ion-button small round class="btn-plant-slot" (click)="openPlantDetailPage(plantSlots[11])" >
            {{plantSlots[11].id}}
            </button>
            
        </div>
        <div class="r4">
            <button ion-button small round class="btn-plant-slot" (click)="openPlantDetailPage(plantSlots[12])" >
            {{plantSlots[12].id}}
            </button>
            <button ion-button small round class="btn-plant-slot" (click)="openPlantDetailPage(plantSlots[13])" >
            {{plantSlots[13].id}}
            </button>
            <button ion-button small round class="btn-plant-slot" (click)="openPlantDetailPage(plantSlots[14])" >
            {{plantSlots[14].id}}
            </button>
            <button ion-button small round class="btn-plant-slot" (click)="openPlantDetailPage(plantSlots[15])" >
            {{plantSlots[15].id}}
            </button>
            
        </div>
        <div class="r3">
            <button ion-button small round class="btn-plant-slot" (click)="openPlantDetailPage(plantSlots[16])" >
            {{plantSlots[16].id}}
            </button>
            <button ion-button small round class="btn-plant-slot" (click)="openPlantDetailPage(plantSlots[17])" >
            {{plantSlots[17].id}}
            </button>
            <button ion-button small round class="btn-plant-slot" (click)="openPlantDetailPage(plantSlots[18])" >
            {{plantSlots[18].id}}
            </button>
            
        </div>
        <div class="r1">
            <button ion-button small round class="btn-plant-slot" (click)="openPlantDetailPage(plantSlots[19])" >
            {{plantSlots[19].id}}
            </button>
        </div>

    </div>
</div>