.circle{
  border-radius: 50%;
}

.device-inner{
  @extend .circle;
  background-color: rgb(133, 34, 34);
  border-radius: 50%;
  width: calc(100vw - 32px);
  height: calc(100vw - 32px);
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  max-height: 400px;
  display: table;

  .plant-slots{
    text-align: center;
    vertical-align: middle;
    display: table-cell;

    .btn-plant-slot{
      border-radius: 50%;
      width:2.2em;
      height:2.2em;
      padding:1.7em;
    }

  }
  
}
